@using TaskQueueing.ObjectModel.Enums;

<div class="inline group relative w-max">
@if ((State & MessageState.Posted) == MessageState.Posted)
{
    // Out icon
    <svg class="inline h-5 w-5 text-teal-500 -rotate-90"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />  <polyline points="16 17 21 12 16 7" />  <line x1="21" y1="12" x2="9" y2="12" /></svg>
    <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 w-max opacity-0 transition-opacity group-hover:opacity-100 px-2 py-1 text-sm font-medium text-white bg-teal-500 rounded shadow after:content-[' '] after:absolute after:top-full after:left-1/2 after:ml-[-4px] after:border-4 after:border-t-teal-500 after:border-x-transparent after:border-b-transparent after:bg-transparent">
        Sent
    </span>
}
else if ((State & MessageState.Received) == MessageState.Received)
{
    // In icon
    <svg class="inline h-5 w-5 text-teal-500 rotate-90"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />  <polyline points="10 17 15 12 10 7" />  <line x1="15" y1="12" x2="3" y2="12" /></svg>
    <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 w-max opacity-0 transition-opacity group-hover:opacity-100 px-2 py-1 text-sm font-medium text-white bg-teal-500 rounded shadow after:content-[' '] after:absolute after:top-full after:left-1/2 after:ml-[-4px] after:border-4 after:border-t-teal-500 after:border-x-transparent after:border-b-transparent after:bg-transparent">
        Received
    </span>
}
else
{
    // Question mark for 'undefined'/'unknown'
    <svg class="inline h-5 w-5 text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 w-max opacity-0 transition-opacity group-hover:opacity-100 px-2 py-1 text-sm font-medium text-white bg-teal-500 rounded shadow after:content-[' '] after:absolute after:top-full after:left-1/2 after:ml-[-4px] after:border-4 after:border-t-teal-500 after:border-x-transparent after:border-b-transparent after:bg-transparent">
        Undefined
    </span>
}
</div>


@code {
    [Parameter]
    public MessageState State { get; set; }
}
