<div class="bg-gray-100 border-gray-300 border rounded p-4 overflow-auto overscroll-contain max-h-[94vh]">
    <pre id="line-0"><code>
@Content
    </code></pre>
</div>

@code {
    [Parameter]
    public string Content { get; set; } = null!;
}