[submodule "Lib/Isbm2RestClient"]
	path = Lib/Isbm2RestClient
	url = https://github.com/tmr-imd/Isbm2RestClient.git
[submodule "Lib/CCOM.Net"]
	path = Lib/CCOM.Net
	url = https://github.com/tmr-imd/CCOM.Net.git
