@page "/admin/roles"
@attribute [Authorize(Policy = DefaultAuthorizationPolicy.AUTHORIZATION_POLICY_NAME)]

@using System.Security.Claims
@using AuthenticationExtesion.Support
@using CIRLib.ObjectModel.Models
@using OiieAdminUi.Components

@inject IAuthorizationService AuthorizationService
@inject RoleMappingService RoleMappingsAccess

<PageTitle>User Role Mappings</PageTitle>

<h1>User Role Mappings</h1>

<div class="flex flex-row flex-wrap gap-4">
    <div class="flex flex-col gap-2 flex-1 w-full rounded-md px-3 py-2 ring-1 ring-inset ring-gray-300">
        @foreach (var system in Systems)
        {
            <CollapsibleSystem System="@system" SelectedIds="@(SelectedRole is null || SelectedRole.CategoryRefId != system.Id ? Array.Empty<string>() : new string[] { SelectedRole.IdInSource })" ParentOnChildSelected="OnRoleSelected" />
        }
    </div>
    <div class="group relative self-center">
        <span aria-hidden="true">
            <svg class="h-8 w-8 text-teal-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <polyline points="12 16 16 12 12 8" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
        </span>
        <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 w-max opacity-0 transition-opacity group-hover:opacity-100 px-2 py-1 text-sm font-medium text-white bg-teal-500 rounded shadow after:content-[' '] after:absolute after:top-full after:left-1/2 after:ml-[-4px] after:border-4 after:border-t-teal-500 after:border-x-transparent after:border-b-transparent after:bg-transparent">
            Maps To
        </span>
    </div>
    <div class="flex flex-col gap-2 auto-row-min flex-1 w-full rounded-md px-3 py-2 ring-1 ring-inset ring-gray-300">
        @foreach (var system in Systems.Except(new[] { SelectedRole?.Category }))
        {
            <CollapsibleSystem System="@system" SelectedIds="@(MappedRoles.Where(r => r.CategoryRefId == system.Id).Select(r => r.IdInSource))" ParentOnChildSelected="OnMappingSelected" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    
    private IEnumerable<Category> Systems { get; set; } = Array.Empty<Category>();
    
    private Entry? SelectedRole { get; set; } = null;

    private IEnumerable<Entry> MappedRoles { get; set; } = Array.Empty<Entry>();

    protected override async Task OnInitializedAsync()
    {
        var user = await GetUser();
        // TODO, move this elsewhere
        RoleMappingService.InitialiseRoleMappings(user);
        Systems = RoleMappingsAccess.GetSystems();
        await base.OnInitializedAsync();
    }

    private async void OnRoleSelected(Entry role)
    {
        SelectedRole = role;
        MappedRoles = RoleMappingsAccess.GetRoleMappings(role);
    }

    private async void OnMappingSelected(Entry role)
    {
        if (SelectedRole is null)
        {
            if (MappedRoles.Any()) MappedRoles = Array.Empty<Entry>();
            return;
        }

        if (MappedRoles.Any(r => r.Id == role.Id))
        {
            RoleMappingsAccess.RemoveRoleMapping(SelectedRole, role);
            MappedRoles = MappedRoles.ExceptBy(new[] {role.Id}, e => e.Id);
        }
        else
        {
            RoleMappingsAccess.AddRoleMapping(SelectedRole, role);
            MappedRoles = MappedRoles.Append(role);
        }
    }

    private async Task<ClaimsPrincipal> GetUser()
    {
        if (AuthenticationState is null) throw new Exception("No authentication state. Missing CascadingAuthenticationState component in hierarchy?");
        if (!AuthenticationState.IsCompleted) await AuthenticationState;
        return AuthenticationState.Result.User;
    }
}
