@page "/query-cir-library"

<PageTitle>CIR Mapping Library</PageTitle>
<h1>Find your Mapping Library</h1>

<p>
    Retrieving Equivalent Identifiers.
</p>

<div class="grid gap-4">
    <QueryRegistry />
</div>

