@inherits LayoutComponentBase

@inject INavigationConfiguration NavConfig

<PageTitle>AdapterServer</PageTitle>

<div>
    <DynamicComponent Type="NavConfig.NavComponentType"/>
    <main class="container mx-auto py-6">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>