<div class="sticky top-0 z-[999] grid w-full bg-gray-100 border-b p-4">
    <nav class="flex w-full">
        <div class="px-3">
            <NavLink class="menu" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="request-response">
                <span class="oi oi-plus" aria-hidden="true"></span> Request/Response
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="pub-sub">
                <span class="oi oi-plus" aria-hidden="true"></span> Publish/Subscribe
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="hangfire">
                <span class="oi oi-plus" aria-hidden="true"></span> Queue
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="/configure-confirm-bods">
                <span class="oi oi-plus" aria-hidden="true"></span> Request Confirmation Configuration
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="/admin/roles">
                <span class="oi oi-plus" aria-hidden="true"></span> User Roles
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="/cir-library">
                <span class="oi oi-plus" aria-hidden="true"></span> CIR Mapping Library
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu align-top" href="/app/notifications/test">
                <span class="oi oi-plus" aria-hidden="true"></span> <NotificationsNav />
            </NavLink>
        </div>
        @* <AuthorizeView Roles="FakeAdmin"> *@
        <AuthorizeView>
            <Authorized>
                <div class="px-3">
                    <span>Hello "@context.User.Identity?.Name (@context.User.Identity?.AuthenticationType)"!</span>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="px-3">
                    <span>Not Authorized</span>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
