<div class="grid w-full bg-gray-100 border-b p-4">
    <nav class="flex w-full">
        <div class="px-3">
            <NavLink class="menu" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="request-response">
                <span class="oi oi-plus" aria-hidden="true"></span> Request/Response
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="pub-sub">
                <span class="oi oi-plus" aria-hidden="true"></span> Publish/Subscribe
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="menu" href="hangfire">
                <span class="oi oi-plus" aria-hidden="true"></span> Queue
            </NavLink>
        </div>
    </nav>
</div>
